node_modules
build

# ignore random files that are created by os and programs
.DS_Store
.cache
.project
.settings
*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
config.codekit3
prepros-6.config
/tmp
/.yarn-error.log
/.vagrant